html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkgrey;
}

.bold{
    font-weight:bold;
}

.noproject-wrapper{
    margin-top: 250px;
    padding: 80px 0px;
    border: 6px solid purple;
    border-style:double;
}

@media(max-width: 992px){
    .section-stats h1{
        font-size: calc(16px + 6vw);
    }
}

.section-expenses button{
    padding: 0px 40px;
    font-weight: bold;
    text-shadow: 0ps 3ps 4ps rgba(0,0,0,.25);
    background-color:beige;
}

.section-expenses .expense{
    font-size: 16px;
    border-radius: 0;
    margin: 0;
}

.section-expenses .expense .category{
    font-size: 13px;   
}